.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv h5 , .travel_mainDiv p{
    margin: 20px
}
#contact iframe{
    width: 100%;
}
.page-header{
    color: solid coral;
}
head , body{
    background-color: linear crimson , cornflowerblue , mediumseagreen , rgb(195, 234, 3);
}